/* Gereral styles */
body {
    margin: 0;
}

/* Header */
header {
    background: url("../images/pexels-lukas-952478-hero-edit.webp") center / cover no-repeat;
    height: 50vh;
}

/* Main */
main {
    background-color: lightgreen;
}

/* Footer */
footer {
    background-color: lightblue;
}